openapi: 3.0.3
info:
  title: RideHorizon Fact Proxy API
  version: 0.4.0
  description: |
    MVP contract for the RideHorizon iOS app to request a short or long
    ride-safe place fact without storing or sending an OpenAI API key from
    the device.
servers:
  - url: https://ridehorizon.digitalmercenaries.ai
    description: Production Fly.io proxy
  - url: http://127.0.0.1:3000
    description: Local development proxy
tags:
  - name: Health
    description: Proxy health checks.
  - name: Facts
    description: Ride-safe place facts.
  - name: Sessions
    description: Automatic restricted sessions for the private TestFlight beta.
  - name: Admin
    description: Operational controls. Not used by the iOS app.
x-deployment:
  provider: Fly.io
  app: ridehorizon-fact-proxy
  organization: dml
  primaryRegion: lhr
  image: ridehorizon-fact-proxy:deployment-01KWFY4N628G4137Y7BMQPN6P9
  machines:
    - id: 080d306c727d98
      process: app
      region: lhr
      state: started
      version: 6
    - id: 8ee01dc77de778
      process: app
      region: lhr
      state: started
      version: 6
  publicIngress:
    sharedIpv4: 66.241.125.198
    dedicatedIpv6: "2a09:8280:1::13b:6469:0"
  deployedSecrets:
    - OPENAI_API_KEY
    - ELEVENLABS_API_KEY
    - ELEVENLABS_VOICE_ID
    - RIDEHORIZON_PROXY_TOKEN
  optionalSecrets:
    - RIDEHORIZON_ADMIN_TOKEN
  runtimeConfiguration:
    RIDEHORIZON_DIAGNOSTICS_ENABLED:
      default: false
      description: Enables verbose proxy diagnostics at startup.
    RIDEHORIZON_PROMPT_OVERRIDES_ENABLED:
      default: false
      description: Load optional prompt overrides from Fly object storage URL.
    RIDEHORIZON_PROMPT_OVERRIDES_OBJECT_URL:
      description: Object-store URL containing optional prompt override JSON.
    RIDEHORIZON_PROMPT_OVERRIDES_REFRESH_SECONDS:
      default: 60
      description: How often proxy reloads prompt overrides from object storage.
    RIDEHORIZON_SHORT_FACT_PROMPT:
      default: built-in short fact prompt
      description: Optional server-side prompt override for shortFacts requests. Never sent by iOS.
    RIDEHORIZON_LONG_FACT_PROMPT:
      default: built-in long fact prompt
      description: Optional server-side prompt override for longFacts requests. Never sent by iOS.
    RIDEHORIZON_PROMPT_OVERRIDES_HOST_ALLOWLIST:
      description: Comma-separated host allowlist for prompt override JSON fetches. Required when RIDEHORIZON_PROMPT_OVERRIDES_ENABLED=true.
    OPENAI_MODEL:
      default: gpt-5.6-sol
      deployedValue: gpt-4o-mini
      deploymentStatus: RH-062 is not yet deployed. Merging to main intentionally deploys the private-beta candidate for evaluation.
      description: OpenAI model selected by the Fly runtime environment.
    RATE_LIMIT_PER_MINUTE:
      default: 30
      description: Request limit for authenticated proxy calls, with user/device identity preference then IP fallback.
x-current-security-model:
  transport: HTTPS through Fly.io public ingress.
  appAuthentication: Automatic short-lived restricted sessions, with the shared Fly secret retained only for operator/developer access.
  deviceSecretStorage: A per-install identifier and short-lived session token are stored in iOS Keychain.
  serverSecretStorage: Fly.io secrets.
  openAiKeyExposure: Server-side only. Never store the OpenAI API key in the iOS app or repository.
  openAiResponseRetention: With store=true, OpenAI retains Responses API application state for at least 30 days under its current documented default.
  currentLimitations:
    - Automatic sessions are restricted by per-install, global daily, and per-IP request limits but are not yet protected by Apple App Attest.
    - The server-side RIDEHORIZON_PROXY_TOKEN remains an operator-only compatibility path until the private beta migration is complete.
  plannedHardening:
    - Apple App Attest assertion verification.
    - Server-side device approval, revocation, and quota state.
    - Per-user auth before wider non-TestFlight distribution.
x-upstream-openai-candidate:
  task: RH-028
  dependencyBase: RH-063
  endpoint: /v1/responses
  model: gpt-5.6-sol
  reasoningEffort: medium
  store: false outside an active ride; true for app-owned active-ride linkage
  maxOutputTokens: 4096
  hostedTools:
    - type: web_search
      selection: model-controlled
      maxCallsPerResponse: 1
  acceptedResponseStatus: completed
  acceptedOutput: A completed final_answer message when phase is present, or a completed phase-less compatibility message. Commentary, incomplete messages, reasoning and web_search_call items are not rider text.
  factSources: Up to 5 unique HTTPS url_citation annotations from the accepted final message, returned separately from fact text.
  deploymentStatus: Not yet deployed. Merging to main intentionally deploys the private-beta candidate; evaluation follows deployment.
x-observability:
  responseHeaders:
    X-Request-Id: Correlates app requests with Fly proxy logs.
  logPrivacy:
    logsTokens: false
    logsOpenAiKey: false
    logsExactPlaceName: false
    logsRiderCoordinates: false
    logsWebSearchQueriesOrSources: false
  events:
    - fact_proxy_request
    - fact_request_valid
    - fact_request_success
    - fact_request_rejected
    - proxy_auth_failed
    - proxy_auth_misconfigured
    - rate_limit_exceeded
    - openai_response
    - openai_result
    - openai_upstream_error
    - openai_request_failed
    - diagnostics_updated
    - prompt_overrides_loaded
    - prompt_overrides_load_failed
    - prompt_overrides_load_skipped
  diagnostics:
    baselineRequestLogsAlwaysEnabled: true
    verboseDiagnosticsDefault: false
    startupEnvironmentVariable: RIDEHORIZON_DIAGNOSTICS_ENABLED
    adminEndpoint: /admin/diagnostics
    adminEndpointRequiresSecret: RIDEHORIZON_ADMIN_TOKEN
    adminEndpointHiddenWhenSecretUnset: true
    runtimeChangesAreProcessLocal: true
    diagnosticsOnlyEventFields:
      openai_result:
        emittedWhen: Verbose diagnostics are enabled.
        fields:
          boundary: Boundary type only; never the place name.
          factMode: shortFacts or longFacts.
          webSearchCalls: Integer from 0 to 1.
          searched: Boolean derived from webSearchCalls.
          sourceCount: Integer from 0 to 5.
        excludes:
          - Search queries, results and source titles or URLs.
          - Place names, rider text, fact text and announcement text.
          - Coordinates, identifiers, tokens and credentials.
paths:
  /health:
    get:
      tags:
        - Health
      summary: Check proxy health
      description: Public health check. Does not require bearer authentication.
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Proxy is running.
          content:
            text/plain:
              schema:
                type: string
                enum:
                  - ok
  /v1/fact:
    post:
      tags:
        - Facts
      summary: Generate one ride-safe place fact
      description: |
        Validates a place request, calls the server-side LLM provider, sanitizes
        the generated text, and returns one bounded fact. The iOS app sends
        only `factMode`, boundary/place fields, and place hierarchy. It never
        sends arbitrary model messages, OpenAI configuration, ElevenLabs
        configuration, or coordinates. The proxy owns prompt selection for
        `shortFacts` and `longFacts`. Optional rider context text, home region
        preferences, and fact-interest categories are treated as bounded user
        preference data, not as system prompt text. The request offers OpenAI's
        hosted `web_search` tool for model-controlled use, limited to one call
        per response. A search may derive a public-web query from the minimised
        place and preference context already sent to OpenAI; search queries and
        results are not returned to the app or logged by the proxy.
        For a web-derived fact, up to five cited source titles and HTTPS URLs
        are returned separately so the app can show visible clickable links in
        its Log. Source metadata is never appended to announcement text or TTS.
        The iOS app must fall back
        to the base place announcement after allowed transient retries are
        exhausted, or immediately for a permanent non-200 response, invalid
        response body, rejected fact, missing token, or operation timeout.
      operationId: createPlaceFact
      security:
        - RideHorizonProxyToken: []
      parameters:
        - in: header
          name: X-RideHorizon-User-Id
          description: Optional rider/user identifier for server-side prompt override lookup.
          required: false
          schema:
            type: string
            minLength: 4
            maxLength: 64
        - in: header
          name: X-RideHorizon-Device-Id
          description: |
            Optional per-install identifier used for request-level rate limiting.
          required: false
          schema:
            type: string
            minLength: 4
            maxLength: 64
        - in: header
          name: X-RideHorizon-Ride-Id
          description: |
            App-owned active ride UUID. It bounds linkage held by the app and
            is not added to the fact JSON or persisted cache key. The proxy
            does not retain ride conversation state.
          required: false
          schema:
            type: string
            format: uuid
        - in: header
          name: X-RideHorizon-Previous-Response-Id
          description: |
            Latest successful OpenAI response ID held by the app for this
            active ride. Omitted for the first call and after End ride or a
            failed call. Requires X-RideHorizon-Ride-Id.
          required: false
          schema:
            type: string
            maxLength: 200
            pattern: "^[A-Za-z0-9_-]+$"
      x-ios-keychain-service: RideHorizonProxy
      x-ios-device-id-keychain-service: RideHorizonDeviceId
      x-ios-attempt-timeout-seconds: 35
      x-ios-operation-timeout-seconds: 60
      x-ios-retry-delays-seconds: [3, 10]
      x-ios-retry-http-statuses: [408, 502, 503, 504]
      x-ios-fallback: Speak the base place announcement without a fact.
      x-openai-api-key-location: Server-side only. Never store the OpenAI API key in the iOS app or repository.
      x-speech-safety-rules:
        - Short Facts may use up to 5 concise sentences.
        - Long Facts may use up to 8 concise sentences.
        - Short Facts prioritises geographic/cultural context over rider-coaching details.
        - Factual and neutral.
        - Useful as ambient place context.
        - Short enough to keep the total spoken announcement ride-safe.
        - No questions.
        - No invitations, route advice, speed advice, or riding instructions.
        - Citation titles and URLs remain structured Log metadata and are never included in announcement text or TTS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FactRequest"
            examples:
              town:
                summary: UK town request
                value:
                  boundary: town
                  placeName: Stroud
                  factMode: shortFacts
                  countryContext: United Kingdom
                  placeHierarchy:
                    street: null
                    town: Stroud
                    county: Gloucestershire
                    region: England
                    country: United Kingdom
                  riderContext:
                    homeCountry: United Kingdom
                    homeRegion: West Midlands
                    familiarRegions:
                      - England
                      - Cotswolds
                    factInterestCategories:
                      - geographyBasics
                      - locationFacts
                      - pointsOfInterest
                      - history
                    customFactInstructions: engineering and old roads
      responses:
        "200":
          description: One sanitized bounded fact plus zero to five structured sources for visible clickable Log attribution.
          headers:
            X-RideHorizon-Response-Id:
              description: |
                OpenAI response ID for app-owned continuation of the active
                ride. Present when X-RideHorizon-Ride-Id was supplied.
              schema:
                type: string
                maxLength: 200
                pattern: "^[A-Za-z0-9_-]+$"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FactResponse"
              examples:
                fact:
                  value:
                    fact: Known for its wool trade.
                    sources:
                      - title: Cotswold Canals Trust
                        url: https://www.cotswoldcanals.org/history
        "400":
          description: Invalid JSON, missing required field, invalid boundary, invalid factMode, invalid placeName, or invalid placeHierarchy.
        "401":
          description: Missing or wrong proxy bearer token.
        "415":
          description: Unsupported content type. Proxy only accepts application/json.
        "500":
          description: Proxy is misconfigured, including missing server-side proxy token.
        "502":
          description: OpenAI timed out, returned a provider or hosted-tool error, exceeded the one-call web-search ceiling, omitted usable citations after searching, or returned an unusable response. The iOS app applies its existing bounded retries and base-place fallback.
  /v1/speech:
    post:
      tags:
        - Speech
      summary: Generate ride-safe speech audio through ElevenLabs
      description: |
        Validates bounded rider-facing text, calls ElevenLabs server-side, and
        returns MP3 audio. The iOS app sends only the text to speak. It never
        sends an ElevenLabs API key, voice id, model id, output format, prompt
        text, or coordinates. The proxy owns all ElevenLabs configuration.
      operationId: createSpeech
      security:
        - RideHorizonProxyToken: []
      parameters:
        - in: header
          name: X-RideHorizon-Device-Id
          description: |
            Optional per-install identifier used for request-level rate limiting.
          required: false
          schema:
            type: string
            minLength: 4
            maxLength: 64
      x-ios-keychain-service: RideHorizonProxy
      x-ios-device-id-keychain-service: RideHorizonDeviceId
      x-ios-attempt-timeout-seconds: 35
      x-ios-operation-timeout-seconds: 60
      x-ios-retry-delays-seconds: [3, 10]
      x-ios-retry-http-statuses: [408, 502, 503, 504]
      x-ios-structured-502-retry-code: RH-TTS-04
      x-ios-fallback: Fall back to local Apple AVSpeechSynthesizer speech.
      x-elevenlabs-api-key-location: Server-side only. Never store the ElevenLabs API key in the iOS app or repository.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpeechRequest"
            examples:
              phrase:
                value:
                  text: Stroud was known for its wool trade.
      responses:
        "200":
          description: MP3 audio for the submitted speech text.
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid JSON, missing text, or overlong text.
        "401":
          description: Missing or wrong proxy bearer token.
        "415":
          description: Unsupported content type. Proxy only accepts application/json.
        "500":
          description: Proxy is misconfigured, including missing server-side proxy token.
        "502":
          description: ElevenLabs returned an error or unusable response. Raw provider/account details are never returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpeechErrorResponse"
  /v1/session/fallback:
    post:
      tags:
        - Sessions
      summary: Issue an automatic restricted session
      description: |
        Used by the iOS app without any tester-entered code or token. The app
        creates a random per-install identifier, stores it in Keychain, and sends
        it in `X-RideHorizon-Device-Id`. The returned bearer token is short-lived.
      operationId: issueFallbackSession
      security: []
      parameters:
        - in: header
          name: X-RideHorizon-Device-Id
          required: true
          schema:
            type: string
            minLength: 4
            maxLength: 64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FallbackSessionRequest"
      responses:
        "200":
          description: Restricted session issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponse"
        "400":
          description: Missing or invalid per-install identifier, or invalid JSON.
        "429":
          description: Automatic-session per-IP rate limit exceeded.
  /admin/v1/sessions:
    get:
      tags:
        - Admin
      summary: List registered installation metadata
      operationId: listInstallations
      security:
        - RideHorizonAdminToken: []
      responses:
        "200":
          description: Installation metadata without plaintext credentials or hashes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InstallationSummary"
        "401":
          description: Missing or wrong administrative bearer credential.
  /admin/v1/sessions/{installationId}:
    delete:
      tags:
        - Admin
      summary: Revoke an installation and its active sessions
      operationId: revokeInstallation
      security:
        - RideHorizonAdminToken: []
      parameters:
        - in: path
          name: installationId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Installation revoked.
        "401":
          description: Missing or wrong administrative bearer credential.
        "404":
          description: Installation was not found.
  /admin/diagnostics:
    get:
      tags:
        - Admin
      summary: Read verbose diagnostics state
      description: |
        Operational endpoint. Not used by the iOS app. Requires
        `RIDEHORIZON_ADMIN_TOKEN`. If that token is not configured, this endpoint
        returns 404.
      operationId: getDiagnostics
      security:
        - RideHorizonAdminToken: []
      responses:
        "200":
          description: Current diagnostics state for this proxy process.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiagnosticsResponse"
        "401":
          description: Missing or wrong admin bearer token.
        "404":
          description: Admin diagnostics endpoint is disabled because RIDEHORIZON_ADMIN_TOKEN is not configured.
    put:
      tags:
        - Admin
      summary: Update verbose diagnostics state
      description: |
        Operational endpoint. Not used by the iOS app. Runtime changes are
        process-local; on multi-machine deployments, prefer
        `RIDEHORIZON_DIAGNOSTICS_ENABLED` for a consistent fleet-wide setting.
      operationId: updateDiagnostics
      security:
        - RideHorizonAdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiagnosticsRequest"
      responses:
        "200":
          description: Updated diagnostics state for this proxy process.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiagnosticsResponse"
        "401":
          description: Missing or wrong admin bearer token.
        "404":
          description: Admin diagnostics endpoint is disabled because RIDEHORIZON_ADMIN_TOKEN is not configured.
components:
  securitySchemes:
    RideHorizonProxyToken:
      type: http
      scheme: bearer
      bearerFormat: RideHorizonSessionToken
      description: |
        Short-lived token issued automatically by `/v1/session/fallback`. The
        iOS app stores it in Keychain and renews it automatically after expiry or
        a 401 response. Testers never enter or see this token.
    RideHorizonAdminToken:
      type: http
      scheme: bearer
      bearerFormat: RIDEHORIZON_ADMIN_TOKEN
      description: |
        Separate operational token when configured. It is never shipped in the
        iOS app.
  schemas:
    FallbackSessionRequest:
      type: object
      additionalProperties: false
      properties:
        reason:
          type: string
          maxLength: 48
          description: Non-sensitive diagnostic category; defaults to restricted.
    SessionResponse:
      type: object
      additionalProperties: false
      required:
        - sessionToken
        - expiresAt
        - fallback
      properties:
        sessionToken:
          type: string
          description: Short-lived bearer token. Never logged or displayed to the tester.
        expiresAt:
          type: string
          format: date-time
        fallback:
          type: boolean
          enum:
            - true
    InstallationSummary:
      type: object
      additionalProperties: false
      required:
        - installationId
        - keyId
        - environment
        - status
        - createdAt
      properties:
        installationId:
          type: string
          format: uuid
        keyId:
          type: string
        environment:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        lastSeenAt:
          type: string
          format: date-time
          nullable: true
        revokedAt:
          type: string
          format: date-time
          nullable: true
    Boundary:
      type: string
      description: Boundary type that triggered the announcement.
      enum:
        - country
        - nation
        - county
        - town
        - street
    FactRequest:
      type: object
      additionalProperties: false
      required:
        - boundary
        - placeName
        - factMode
        - placeHierarchy
      properties:
        boundary:
          $ref: "#/components/schemas/Boundary"
        placeName:
          type: string
          minLength: 1
          maxLength: 96
          pattern: "^[A-Za-z0-9 .,'’&()\\-]+$"
          description: Place to generate a fact about.
          example: Stroud
        factMode:
          type: string
          description: |
            Requested fact depth. The proxy validates this field and selects
            the server-side prompt. Unknown values return 400.
          enum:
            - shortFacts
            - longFacts
          example: shortFacts
        countryContext:
          type: string
          nullable: true
          minLength: 1
          maxLength: 64
          pattern: "^[A-Za-z .,'’()\\-]+$"
          description: Optional country name used to disambiguate reused place names.
          example: United Kingdom
        placeHierarchy:
          $ref: "#/components/schemas/PlaceHierarchy"
        riderContext:
          $ref: "#/components/schemas/RiderContext"
    PlaceHierarchy:
      type: object
      additionalProperties: false
      description: |
        Current place hierarchy from iOS reverse geocoding. Values may be null
        when unavailable or invalid. Coordinates are intentionally not part of
        this contract.
      properties:
        street:
          $ref: "#/components/schemas/OptionalPlaceName"
        town:
          $ref: "#/components/schemas/OptionalPlaceName"
        county:
          $ref: "#/components/schemas/OptionalPlaceName"
        region:
          $ref: "#/components/schemas/OptionalPlaceName"
        country:
          allOf:
            - $ref: "#/components/schemas/OptionalCountryName"
    OptionalPlaceName:
      type: string
      nullable: true
      minLength: 1
      maxLength: 96
      pattern: "^[A-Za-z0-9 .,'’&()\\-]+$"
      example: Nailsworth
    OptionalCountryName:
      type: string
      nullable: true
      minLength: 1
      maxLength: 64
      pattern: "^[A-Za-z .,'’()\\-]+$"
      example: United Kingdom
    RiderContext:
      type: object
      additionalProperties: false
      description: Optional rider-context hints sent to the server for fact generation.
      properties:
        homeCountry:
          $ref: "#/components/schemas/OptionalCountryName"
          description: Optional country of origin to avoid obvious admin-level context.
        homeRegion:
          $ref: "#/components/schemas/OptionalPlaceName"
          description: Optional region known as familiar to the rider.
        familiarRegions:
          type: array
          maxItems: 12
          items:
            $ref: "#/components/schemas/OptionalPlaceName"
          description: Optional familiar regions to avoid repeating generic explanations.
        factInterestCategories:
          type: array
          maxItems: 7
          items:
            type: string
            enum:
              - localRidingHints
              - safetyAdvice
              - geographyBasics
              - locationFacts
              - pointsOfInterest
              - history
              - culture
              - landmarks
          description: Optional rider-selected fact categories.
        customFactInstructions:
          type: string
          nullable: true
          minLength: 1
          maxLength: 240
          pattern: "^[A-Za-z0-9 .,'’&()\\-]+$"
          description: |
            Optional rider preference hint for fact focus, such as "old roads,
            engineering, local industry". This is untrusted user preference
            data, not system prompt text. The proxy validates and wraps it in
            fixed safety instructions.
      example:
        homeCountry: United Kingdom
        homeRegion: West Midlands
        familiarRegions:
          - England
          - Cotswolds
        factInterestCategories:
          - geographyBasics
          - locationFacts
          - pointsOfInterest
          - history
        customFactInstructions: engineering and old roads
    SpeechRequest:
      type: object
      additionalProperties: false
      required:
        - text
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 1400
          description: Bounded rider-facing text to synthesize as speech.
          example: Stroud was known for its wool trade.
    SpeechErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
        - code
      properties:
        error:
          type: string
          enum:
            - Premium voice is temporarily unavailable.
          description: Rider-safe message that never contains provider account, credit, quota, authentication, or billing details.
        code:
          type: string
          enum:
            - RH-TTS-01
            - RH-TTS-02
            - RH-TTS-03
            - RH-TTS-04
          description: Opaque RideHorizon diagnostic code for developer diagnostics.
    FactResponse:
      type: object
      additionalProperties: false
      required:
        - fact
        - sources
      properties:
        fact:
          type: string
          minLength: 1
          maxLength: 1500
        sources:
          type: array
          maxItems: 5
          uniqueItems: true
          items:
            $ref: "#/components/schemas/FactSource"
      description: |
        Sanitized ride-safe fact. shortFacts responses are bounded to 1100
        characters; longFacts responses are bounded to 1500 characters.
        Sources are visual Log attribution only and are never announcement or
        TTS text. A searched response without a usable source is rejected.
      example:
        fact: Known for its wool trade.
        sources: []
    FactSource:
      type: object
      additionalProperties: false
      required:
        - title
        - url
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 160
        url:
          type: string
          format: uri
          minLength: 9
          maxLength: 2048
          pattern: "^https://"
      description: Bounded OpenAI url_citation attribution displayed as a clickable link in the RideHorizon Log.
    DiagnosticsRequest:
      type: object
      additionalProperties: false
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          description: Whether verbose diagnostics should be enabled for this proxy process.
    DiagnosticsResponse:
      type: object
      additionalProperties: false
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          description: Whether verbose diagnostics are enabled for this proxy process.
