.gradle/
.gradle-user/
.tools/
build/
out/
.idea/
*.iml
.env
.DS_Store
fly.toml.bak
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.*.backup
terraform/ci.auto.tfvars
